<plist version="1.0">
<dict>
<key>items</key>
<array>
<dict>
<key>assets</key>
<array>
<dict>
<key>kind</key>
<string>software-package</string>
<key>url</key>
<string>https://archive.org/download/xz2016_R/r.ipa</string>
</dict>
<dict>
<key>kind</key>
<string>full-size-image</string>
<key>needs-shine</key>
<false/>
<key>url</key>
<string>https://a.top4top.net/p_553ld3jy1.jpg</string>
</dict>
<dict>
<key>kind</key>
<string>display-image</string>
<key>needs-shine</key>
<false/>
<key>url</key>
<string>https://a.top4top.net/p_553ld3jy1.jpg</string>
</dict>
</array>
<key>metadata</key>
<dict>
<key>bundle-identifier</key>
<string>com.a1iraqi.sco</string>
<key>bundle-version</key>
<string>9.37.2.0</string>
<key>kind</key>
<string>software</string>
<key>subtitle</key>
<string>Snapchat+</string>
<key>title</key>
<string>scothman اساسي وليس مكرر احذف الاساسي من عبود العراقي تتابعني على التويتر @a1iraqi</string>
</dict>
</dict>
</array>
</dict>
</plist>