@media screen and (max-width : 800px) {
.selectnav{display:block;}
.pagenavi a,.pagenavi span {
margin-bottom: 10px;
}
div#HTML5,.post-meta-home { display: none; }
div#HTML9 {
display: block;
}
.social__item {
display: block;
margin-bottom: 6px;
}
ul#related-posts > li img {
display: none;
}
ul#related-posts > li {
float: none;
width: 100%;
line-height: 6px;
height: 45px;
margin-bottom: 5px;
background: #f5f5f5;
}
span.overlay {
position: relative;
background: transparent;
color: #000;
text-align: right;
}
div#main-wrapper1 {
float: none;
width: 100%;
}
div#sidebar-wrapper1 {
float: none;
width: 100%;
}
.footer-wraper {
display: none;
}
form.valign-ling input {
width: 100% !important;
margin-bottom: 9px;
}
form.valign-ling {
margin: -50px 0 0 0;
margin-top: 60%;
padding: 0 24px;
overflow: hidden;
position: relative;
right: 0;
}
#social ul li p {
display: none;
}
#social ul li {
float: right;
width: 25%;
padding: 14px 0 !important;
}
ul#nav1, ul#nav {
display: none;
}
.post-meta-entry {
padding-top: 10%;
}
#social ul li a {
padding: 4px 0;
}
div#logo img {
margin-bottom: 20px !important;
}
div#logo, div#ads, div#logo img, div#ads img {
float: none;
text-align: center;
margin: 0 auto;
}
div#a1iraqi-live {
display: none;
}
.footer-column {
float: none;
width: 100% !important;
}
#copyright > div {
float: none;
position: initial !important;
text-align: center;
}
.ftr-btn ul li a {
display: block;
margin: 8px auto;
margin-left: 4px;
}
ul#homepage {
display: none;
}
.menu-top {
padding: 14px;
}
.navbar {
padding: 12px;
}
select#selectnav1 {
width: 100%;
background: #202E3C;
color: #fff;
border: 0;
padding: 10px;
height: 44px;
font-size: 16px;
font-family: 'mahdi-font';
}
select#selectnav2 {
width: 100%;
background: #202E3C;
color: #fff;
border: 0;
padding: 10px;
height: 44px;
font-size: 16px;
font-family: 'mahdi-font';
}
div#menu-right, social-search {
float: none;
text-align: center;
margin: 0px auto;
}
div#footer-buttons > div {
float: none;
width: inherit;
margin-bottom: 9px;
display: block;
}
.info {
float: none;
}
.post-thumb a {
width: 100%;
height: 250px;
}
.post-info {
padding: 20px;
}
.amin-posts{
display: none;
}
.post-share {
max-height: 250px;
line-height: 250px;
width: 100%;
}
div#sidebar-wrapper1 {
display: NONE;
}
}
@media screen and (max-width : 450px) {
div#logo img {
width: 100%;
max-width: 100%;
}
}
@media screen and (max-width : 400px){
#social {
display: none;
}