<plist version="1.0">
<dict>
<key>items</key>
<array>
<dict>
<key>assets</key>
<array>
<dict>
<key>kind</key>
<string>software-package</string>
<key>url</key>
<string>https://archive.org/download/ytrre/ytrre.ipa</string>
</dict>
<dict>
<key>kind</key>
<string>full-size-image</string>
<key>needs-shine</key>
<false/>
<key>url</key>
<string>https://pbs.twimg.com/profile_images/879197673944993792/QCN4x4wf_bigger.jpg</string>
</dict>
<dict>
<key>kind</key>
<string>display-image</string>
<key>needs-shine</key>
<false/>
<key>url</key>
<string>https://pbs.twimg.com/profile_images/879197673944993792/QCN4x4wf_bigger.jpg</string>
</dict>
</array>
<key>metadata</key>
<dict>
<key>bundle-identifier</key>
<string>com.a1iraqi.yalu</string>
<key>bundle-version</key>
<string>9.37.2.0</string>
<key>kind</key>
<string>software</string>
<key>subtitle</key>
<string>Snapchat+</string>
<key>title</key>
<string>yalu 102 by Abood ALiraQi and Khalid  ممكن متابعة عبر التويتر محتاج دعمكم @a1iraqi  @X1miTm</string>
</dict>
</dict>
</array>
</dict>
</plist>